// n is number of stars required
@function multiple-box-shadow($ratio, $width, $height) {
  $n: floor($width * $ratio);
  $value: "#{random($width)}px #{random($height)}px #FFF";
  @for $i from 2 through $n {
    $value: "#{$value} , #{random($width)}px #{random($height)}px #FFF";
  }
  @return unquote($value);
}

@mixin create-snow($width, $height) {
  $ratio-sm: (1/2);
  $size-sm: 1px;
  $animTime-sm: 100s;
  $top: 2000px;
  #snow {
    width: $size-sm;
    height: $size-sm;
    background: transparent;
    box-shadow: #{multiple-box-shadow($ratio-sm, $width, $height)};
    animation: animStar $animTime-sm linear infinite;
    &:after {
      content: " ";
      position: absolute;
      top: $top;
      width: $size-sm;
      height: $size-sm;
      background: transparent;
      box-shadow: #{multiple-box-shadow($ratio-sm, $width, $height)};
    }
  }

  $ratio-md: (1/3);
  $size-md: 2px;
  $animTime-md: 150s;
  #snow2 {
    width: $size-md;
    height: $size-md;
    background: transparent;
    box-shadow: #{multiple-box-shadow($ratio-md, $width, $height)};
    animation: animStar $animTime-md linear infinite;
    &:after {
      content: " ";
      position: absolute;
      top: $top;
      width: $size-md;
      height: $size-md;
      background: transparent;
      box-shadow: #{multiple-box-shadow($ratio-md, $width, $height)};
    }
  }

  $ratio-lg: (1/4);
  $size-lg: 3px;
  $animTime-lg: 200s;
  #snow3 {
    width: $size-lg;
    height: $size-lg;
    background: transparent;
    box-shadow: #{multiple-box-shadow($ratio-lg, $width, $height)};
    animation: animStar $animTime-lg linear infinite;
    &:after {
      content: " ";
      position: absolute;
      top: $top;
      width: $size-lg;
      height: $size-lg;
      background: transparent;
      box-shadow: #{multiple-box-shadow($ratio-lg, $width, $height)};
    }
  }

  @keyframes animStar {
    from {
      transform: translateY(-2000px);
    }
    to {
      transform: translateY(0px);
    }
  }
}

$height: 2000px;
$layout-breakpoint-small: 700px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-large: 1980px;
$layout-breakpoint-xlarge: 2980px;

.snowfall {
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at top, #2c3f55 0%, #181b27 100%);
  overflow: hidden;
}

@media (min-width: $layout-breakpoint-xlarge) {
  $width: 5000;
  @include create-snow($width, $height);
}

@media (min-width: $layout-breakpoint-large) and (max-width: $layout-breakpoint-xlarge) {
  $width: 3000;
  @include create-snow($width, $height);
}

@media (min-width: $layout-breakpoint-medium) and (max-width: $layout-breakpoint-large) {
  $width: 2000;
  @include create-snow($width, $height);
}

@media (min-width: $layout-breakpoint-small) and (max-width: $layout-breakpoint-medium) {
  $width: 1500;
  @include create-snow($width, $height);
}

@media (max-width: $layout-breakpoint-small) {
  $width: 1500;
  @include create-snow($width, $height);
}
